* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DEE2F2;
}

header {
    background-color: #2FA4E0;
    padding: 20px;
    margin-bottom: 30px;
}

header h3 {
    text-align: center;
    color: #F8F9FF;
}

section {
    background-color: #F8F9FF;
    padding: 15px;
}

.luas-persegi + .keliling-persegi {
    border: 1px solid #333541;
    padding: 5px;
}

input {
    width: 100%;
    height: auto;
    background-color: #F8F9FF;
    border: 1px solid #333541;
    border-radius: 5px;
    padding: 2px 3px;
    margin: 10px 0;
}

button {
    background-color: #2FA4E0;
    color: #F8F9FF;
    border-radius: 5px;
    border: 1px solid #F8F9FF;
    padding: 2px 3px;
}
